// colours
$navBarBlue: #0494cd;
$backgroundGray: #ccc;
$backgroundWhite: #ffffff;
$textDarkBlue: #000066;
$textMedBlue: #046ab8;
$textLightBlue: #1299cf;

// width breakpoints
$small-breakpoint: 640px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$XL-breakpoint: 1200px;
